/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-wp-gutenberg-carusel {
	border: 1px dotted #939393;
}

.wpgc-block {
	background: #fafafa;
	border-radius: 5px;
	border: 1px solid #cacaca;
}

.content-plain-text {
	min-height: 58px !important;
}

.wp-block-quote {
	margin-bottom: 0.5em;
}

button.add-more-wpgc-item {
	height: 55px;
	width: 55px;
	background: #939393;
	border-radius: 50%;
	position: relative;
	border: none;
	font-size: 2em;
	color: white;
	line-height: 1;
}

span.remove-wpgcitem {
	right: 30px;
	position: absolute;
}

textarea.editor-plain-text.content-plain-text,
textarea.editor-plain-text.author-plain-text,
textarea.editor-plain-text.link-plain-text {
	background: #fafafa;
	border: 1px solid #dadada;
	border-radius: 5px;
}

.wpg-repeater-group {
	border: 1px solid #3399ff;
	padding: 6px;
	margin-bottom: 6px;
	width: calc(100% - 12px);

	.components-text-control__input {
		width : 96%;
	}
	
	.components-panel__row > div {
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: 100%;	
	}	
}

.wpg-buttons {
	width: 95%;
}

.wpg-buttons button.button-large {
	align-self: center;
}

.wpg-imgholder {
	background-size: cover;
	background-color: rgba(256,256,256,0.64);

}

.wpg-repeater-group .wpg-label {
	font-size: 11px;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: calc(8px);
	padding: 0px;
	flex: 0 0 auto;
}

.wpg-repeater-group .block-editor-plain-text {
	padding: 6px 4px;
	min-height: 56px;
	border-radius: 2px;
	border: 1px solid #757575;
	flex: 0 0 auto;
}